._card_3dwr4_1{
    box-shadow: 0 0 10px lightgray;
    border-radius: 8px;
    width: 300px;
    text-align: center;  
}

.css-cqvt79 {
    box-shadow: none!important;
}


.css-196bwzp-MuiPaper-root-MuiCard-root{
    background-color: #fcf8f8 !important;
}

.css-rizt0-MuiTypography-root {
    color: #585858;

}

.css-196bwzp-MuiPaper-root-MuiCard-root:hover{
    background-color: #f1ecec !important;
}

.css-6ns9e0{
    background-color: #fcf8f8;
    margin-bottom: 30px;
}

